<p>home works!</p>

<app-basic></app-basic>
<!-- <app-basic></app-basic>
<app-basic></app-basic>
<app-basic></app-basic>
<app-basic></app-basic> -->

<!-- <app-variables></app-variables> -->
<app-inputsssss [asdf]="'hello'"></app-inputsssss>
<app-inputsssss [asdf]="'hi'" [abc]="'second call abc'"></app-inputsssss>
<app-inputsssss [asdf]="'how are you'" [xyz]="'thirdcall xyz'"></app-inputsssss>
<app-inputsssss [cc]="'fourthcall cc'"></app-inputsssss>
<app-inputsssss [type]="'primary'"></app-inputsssss>
<app-inputsssss [type]="'secondary'"></app-inputsssss>