header{
    background-color: #8a3ab9;
    text-align: center;
    padding:20px 0 5px 0;
    color:white;
}
main{
    padding: 10px;
    min-height: 500px;
    background-color: #f0ddfb;
}
footer{
    background-color: #8a3ab9;
    text-align: center;
    padding: 10px;
    color:white;
}