<p>pipes works!</p>
<pre>

    {{fname}}
    {{fname | lowercase}}
    {{fname | uppercase}}
    {{fname | slice:2:5}}

    {{val}}
    {{val | percent}}
    {{val | currency}}
    {{val | currency:'INR'}}
    {{val | currency:'Rs. '}}
    {{val | currency:'INR '}}
    {{val | number}}
    
    {{today}}
    {{today | date}}
    {{today | date: 'dd-MM-yy'}}
    
    {{user}}
    {{user | json}}

    {{34 | hexaaaaaaaaaaaaaaaa}}
    {{15 | hexaaaaaaaaaaaaaaaa}}
    {{255 | hexaaaaaaaaaaaaaaaa}}
    {{254 | hexaaaaaaaaaaaaaaaa}}

    {{5 | params:2:3:4:5}}

    {{5 | square}}

    {{1234123412345678 | debitMask}}
</pre>