<p>pipes works!</p>

<pre>
    {{fname}}
    {{fname | lowercase }}
    {{fname | uppercase }}
    {{fname | slice:2:7 | uppercase }}

    {{age}}
    {{age | currency}}
    {{age | currency:'INR'}}
    {{age | currency:'Mahesh '}}

    {{num}}
    {{num | number}}
    {{num | percent}}

    {{today}}
    {{today | date}}
    {{today | date: 'dd-MM-yy'}}
    {{today | date: 'dd-MMM-yyyy'}}

    {{user}}
    {{user | json}}

    {{23 | hexaaaaaaaa}}
    {{15 | hexaaaaaaaa}}
    {{255 | hexaaaaaaaa}}

    {{10 | params:2:3:10:5}}

    {{'mahesh' | ascii}}
    {{'MAHESH' | ascii}}



</pre>