img{
    width: 80px;
    border-radius: 50%;

}
p{
    
    font-weight: bold;
}
.row {
    margin: 20px;
    padding: 10px;
    border: 2px solid;
    text-align: center;
    height: 400px;
    overflow: auto;
}